* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html {
    background-image: url(images/pokemon-background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

audio {
    height: 20px;
    margin-bottom: 10px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.heading-wrap {
    margin: 0 auto;
    background-color: rgba(56, 169, 234, 1);
    justify-content: center;
    border: 2px solid black;
    border-radius: 8px;
}

.title {
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    font-size: 40px;
}

.go {
    padding-left: 30px;
    margin-top: 25px;
    height: 60px;
}

.choices {
    text-align: center;
    padding: 20px 10px 10px 10px;
}

.player1Choose {
    position: absolute;
    background-color: rgba(239, 239, 239, 1);
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
}

.player2Choose {
    position: absolute;
    right: 20px;
    background-color: rgba(239, 239, 239, 1);
    border: 2px solid black;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    border-radius: 8px;
}

.play {
    background-color: rgba(239, 239, 239, 1);
    border: 2px solid black;
    padding: 8px;
    font-size: 16px;
    border-radius: 8px;
}

.icons {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
}

.pikachu {
    animation: shakeY;
    animation-duration: 2s;
}

.charmander {
    animation: swing;
    animation-duration: 2s;
}

.bulbasaur {
    animation: shakeX;
    animation-duration: 2s;
}

.squirtle {
    animation: rubberBand;
    animation-duration: 2s;
}

.eevee {
    animation: jello;
    animation-duration: 2s;
}

.pikachu:hover, .squirtle:hover, .bulbasaur:hover, .charmander:hover, .squirtle:hover, .eevee:hover {
    cursor: pointer;
    animation: pulse;
    animation-duration: 300ms;
}

.icons > img {
    height: 70px;
}

.turns {
    text-align: center;
    padding: 30px;
}

.player1turn {
    display: inline;
    background-color: rgba(239, 239, 239, 1);
    border: 2px solid black;
    padding: 10px;
    text-align: left;
    border-radius: 8px;
}

.player2turn {
    display: inline;
    background-color: rgba(239, 239, 239, 1);
    border: 2px solid black;
    padding: 10px;
    text-align: right;
    border-radius: 8px;
}

.winWrap {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
}

.winCounter {
    background-color: rgba(239, 239, 239, 1);
    border: 2px solid black;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-radius: 8px;
}

.game-container {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 1px;
}

.game-container div {
    display: grid;
    padding: 0px;
    margin: 0 auto;
}

.box {
    border: 12px solid black;
    border-image: url(tree.png) 62 round;
    text-align: center;
    line-height: 55px;
    height: 150px;
    width: 150px;
}

.box:hover {
    cursor: pointer;
    background-image: url(images/pokeball.png);
    background-size: contain;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.reset {
    text-align: center;
}

.resetButton {
    font-size: 16px;
    padding: 8px;
    margin: 20px;
    border-radius: 8px;
}

.victory1 {
    position: absolute;
    top: 49%;
    left: 10%;
    right: 10%;
    font-size: 56px;
    text-align: center;
    background-color: rgba(239, 239, 239, 1);
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
}

.victory2 {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    font-size: 56px;
    text-align: center;
    background-color: rgba(239, 239, 239, 1);
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
}

.draw {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    font-size: 56px;
    text-align: center;
    background-color: rgba(239, 239, 239, 1);
    padding: 20px;
    border: 3px solid black;
    border-radius: 8px;
}

.resetButton:hover {
    cursor: pointer;
    background-color: lightgrey;
    border: 3px solid black;
    animation: shakeX;
    animation-duration: 2s;
}
.pikachu {
    background-image: url(images/pikachu.png); 
    background-size: contain;
}

.charmander {
    background-image: url(images/charmander.png); 
    background-size: contain;  
}

.squirtle {
    background-image: url(images/squirtle.png); 
    background-size: contain;  
}

.eevee {
    background-image: url(images/eevee.png); 
    background-size: contain;
}

.bulbasaur {
    background-image: url(images/bullbasaur.png); 
    background-size: contain;  
}

.gone {
    display: none;
}

.win {
    animation: bounceIn;
    animation-duration: 2s;
}

@media only screen and (max-width: 500px) {
    .title {
        margin: 0;
    }
    
    .go {
        padding-right: 45px;
        margin-top: 20px;
        height: 60px;
    }

    .game-container {
        grid-template-columns: 90px 90px 90px;
    }

    .box {
        height: 90px;
        width: 90px;
    }

    .player1turn {
        font-size: 8px;
    }

    .player2turn {
        font-size: 8px;
        text-align: left;
    }

    .victory1 {
        top: 46%;
        font-size: 16px;
    }

    .victory2 {
        top: 46%;
        font-size: 16px;
    }

    .draw {
        top: 46%;
        font-size: 16px;
    }
}